@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* header style */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.banner-description-gray {
  color: #727272;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: #131313;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
  color: #424242;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
}
.btn-praimary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.banner img {
  margin-top: 50px;
  width: 100%;
}

/* main start */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* teams start */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  font-weight: 500;
  font-size: 1.8rem;
}
.teams-title .our_teams {
  font-weight: 700;
  color: #131313;
}
.teams-title .feature-teams {
  color: #ff900e;
  font-weight: 700;
}
.banner-description-gray {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
}
/* facts start */
.facts .section-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 100px;
}
.facts .facts-description {
  width: 100%;
  max-width: 500px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 45px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25;
  margin-top: 5px;
}
.facts-card-container .card-start {
  font-size: 2.8rem;
  color: #424242;
}
/* sponspors start */
.sponspors {
  text-align: center;
  margin-top: 100px;
}
.sponsors-deriction {
  width: 100%;
  max-width: 546px;
  margin: 0 auto;
  margin-top: 24px;
}
.sponspors-img-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.sponspors-img-container img {
  width: 166.757px;
}
/* responsive mobaile device*/
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponspors-img-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 10px;
  }
  .facts-card-container {
    gap: 20px;
  }
}
/* responsive tablet device*/
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams-container,
  .sponspors-img-container,
  .facts-card-container {
    flex-direction: column;
  }
  header,
  .facts-card-container {
    padding: 50px;
  }
  .facts-card-container {
    gap: 30px;
  }
}
